html, body {
	background-color: #eeeeee;
}

.card {
	background-color: #ffffff;
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	display: none;
	padding: 1em;
	box-shadow: 2px 2px 4px #999999;
	z-index: 1;
}

.card:hover {
	z-index: 2;
	box-shadow: 4px 4px 8px #999999;
}

.card.pep-active {
	box-shadow: 8px 8px 16px #cccccc;
}